body{
    margin: 0px;
    font-family: Tahoma, Arial, sans-serif;
}

#nav{
    height: 40px;
    background-color: rgb(61, 110, 150);
    border-radius: 2px
    /* position: absolute; */
}

.tab-button{
    float: left;
    width: auto;
    height: 22px;
    border: none;
    display: block;
    outline: 0;
    padding: 9px 10px 9px 15px !important;
    color: white;
    text-decoration: None;
    border-radius: 2px
}

.tab-button:hover{
    background-color: rgb(29, 53, 73);
    border-radius: 2px
}

.tab-name-right{
    float: right;
    width: auto;
    height: 22px;
    border: none;
    display: block;
    outline: 0;
    padding: 9px 0px 9px 5px !important;
    color: white;
    text-decoration: None;
    border-radius: 2px
}

.tab-button-right{
    float: right;
    width: auto;
    height: 22px;
    border: none;
    display: block;
    outline: 0;
    padding: 9px 10px 9px 15px !important;
    color: white;
    text-decoration: None;
    border-radius: 2px
}

.tab-button-right:hover{
    background-color: rgb(29, 53, 73);
    border-radius: 2px
}

#locate-bar{
    width: 40px;
    height: 122px;
    /* background-color: rgba(187, 187, 187, 0.5); */
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.locate-button{
    background-color: rgba(0,60,136,0.5);
    border-radius: 2px;
    width: 30px; 
    height: 30px; 
    padding: 5px;
}

.locate-button:hover{
    background-color: rgb(29, 53, 73);
    border-radius: 2px
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
  }

.popup {
    max-height: 60%;
    margin: 70px auto 10% 10%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

.popup ul{
    list-style: none;
    padding: 5%;
    height: 200px;
    overflow: auto;
}

.popup li{
    cursor: default;
    padding: 4px;
    list-style: none;
}

.popup li:hover{
    background-color: rgb(184, 184, 184);
}